header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
    width: 100%;
}

#logo-container {
    height: auto;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 32px;
}

#left-nav-header {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 5px;
}

#group-join-container {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 0px;
}

#group-join-container>input {
    border-bottom: 1px solid white;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 32px;
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.navbar-time {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

#navbar {
    height: 128px;
}

#navbar>.nav-wrapper {
    height: 50%;
}

#navbar-controls {
    display: flex;
    justify-content: center;
}

#navbar-current {
    display: flex;
    justify-content: center;
}
#navbar-current ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 85%;
}
#navbar-current li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

.thumb {
    display: none;
}

.range-field {
    width: 48vw;
}

.list-container {
    padding-left: 20px;
    padding-right: 20px;
}

table.highlight>tbody>tr:hover {
    background-color: #CCCCCC;
}
